.App {
  text-align: center;
  width: 250px;
  height: 600px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgb(19, 15, 67);
}

.traffic-light-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.light {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  border-radius: 50%;
  margin: auto;
  margin-top: 25px;
}